.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  left: 105px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 5px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.ToggleSwitches {
  color: white;
  background-color: #2f5e85;
  border-radius: 10px;
  border: 3px solid black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  max-width: fit-content;
}
.switch_child {
  margin-bottom: 44px;
  top: -53px;
  position: relative;
}
.switch_text {
  right: 34px;
  position: relative;
  top: 8px;
}
.toggleimages {
  max-height: 175px;
  position: relative;
  right: 36px;
  top: -15px;
  cursor: pointer;
}
.toggleheader {
  font-size: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: darkblue;
  border-bottom: 3px solid black;
  position: relative;
  top: -36px;
}
.togglelabel {
  position: relative;
  right: -95px;
}
