.statusbar {
    background-color: #5e5c5c;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
    top: -1144px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 350px;
    left: 1931px;
    color: white;
    height: 876px;
  }
  .foundlist {
    position: relative;
    right: -100px;
  }
  .statusbarTitle {
    position: relative;
    left: 75px;
  }