@import "./styles/MenuBar.css";
@import "./styles/ToggleSwitches.css";
@import "./styles/StatusBar.css";

body {
    background-image: url('/static/image.jpg');
    background-color: #2196F3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}